/* Dark mode colors. */
:root {
	--sl-color-accent-low: #1c1e00;
	--sl-color-accent: #f3ff00;
	--sl-color-accent-high: #f3ff00;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #bac4c8;
	--sl-color-gray-2: #bac4c8;
	--sl-color-gray-3: #a7a7a7;
	--sl-color-gray-4: #495c62;
	--sl-color-gray-5: #454545;
	--sl-color-gray-6: #111111;
	--sl-color-black: #000;
	--sl-color-banner-bg: #1c1e00;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffffff;
	--sl-color-accent: #0f0f0f;
	--sl-color-accent-high: #0f0f0f;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
	--sl-color-banner-bg: #eceef2;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
}

.card {
	--sl-card-border: var(--sl-color-purple);
	--sl-card-bg: var(--sl-color-purple-low);
	background-color: var(--sl-color-black);
	padding: clamp(1rem, calc(0.125rem + 3vw), 2.5rem);
	flex-direction: column;
	gap: clamp(0.5rem, calc(0.125rem + 1vw), 1rem);
	border-radius: 0.25rem;
}
